header{
  background: #f7f7f7;
  height:5rem;
  display:flex;
}

header img{ 
}

ul{
  font-family: 'Roboto';
  font-size:2rem;
  font-weight:0.1rem;
  top:50%;
  margin-left:2rem;
}

ul li{  
  display:inline;  
  margin-right:5rem;
}

.fa {
  font-size: 2rem;
  display:inline;
}

.fa-angle-down{
  color:black;
  margin-left:0.5rem;
}
