header{
  background: #f7f7f7;
  height:10rem;
  display:flex;
}

header img{
  height:auto;
  /*margin:5%;*/
}

ul{
  font-family: 'Roboto';
  font-size:2rem;
  font-weight:0.5rem;
  vertical-align:middle;
}

ul li{  
  display:inline;  
  margin-left:5rem;
}

.fa {
  font-size: 2rem;
}
