header{
  background: #f7f7f7;
  height:5rem;
  display:flex;
}

header img{
  height:auto;
  /*margin:5%;*/
}

ul{
  font-family: 'Roboto';
  font-size:1rem;
  font-weight:0.1rem;
  vertical-align:middle;
  margin:0;
}

ul li{  
  display:inline;  
  margin-left:5rem;
}

.fa {
  font-size: 2rem;
  display:inline;
}

.fa-angle-down{
  color:black;
}
